body{
    background-color: black;
}
.image{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
}
.motivation-img{
    border: solid white 5px;
    width: 100%;
}
h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
}
p{
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: normal;
}